* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Regole generali */
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    padding: 15px;
}

button {
    padding: 7px;
}
i {
    display: block;
}
/* utility */
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.w-70 {
    width: 70%;
}
.inline {
    display: inline;
}

/* Inizio header */
header{
    height: 70px;
    position: relative;
}
.clearfix{
    position: relative;
}
.clearfix::after {
    content: "";
    clear: both;
  display: table;
}

header img {
    float: left;
    padding: 15px;
}

.blubutton {
    background-color: rgb(16, 0, 243);
    color: white;
}
/* inizio Jumbotron */
 #jumbotron {
    height: calc(100vh - 70px);
    background-color: rgb(144, 170, 255);
    position: relative;
 }

#containerj {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#jumbotron #containerj h1 {
    font-size: 50px;
}

#scrittaj {
    width: 30%;
    float: left;
    padding-top: 5%;
}

#jumbotron #containerj .w-70 img {
    width: 100%;
    position: relative;
    top: 100px;
}
#jumbotron #containerj button {
    margin-top: 20px;
}
/* Inizio tre possibilità di fatturazione */
main {
    margin: auto;
    width: 70%;
}
main h1 {
    margin:20% 0% 10% 0%;
}
#container-radio {
    margin-bottom: 5%;
}

main div span  {
    padding-top: 50px;
    margin-right: 2%;
}

.piani-fatturazione {
    margin-right: 20px;
    width: calc(33% - 40px);
    display: inline-block;
    border: solid 1px;
}
.primo-blocco {
    text-align: center;
}

.container-blocco {
    width: 80%;
    margin: 15px auto;
}

.container-blocco * {
    margin-top: 10px;
}
.container-blocco ul li span {
    color: blue;
}